<!doctype html>
     <html lang="en" dir="ltr">
    <title>Uploaded images</title>

    <div>
      <div class="header">
        <h3 class="text-muted" style="text-align:center">Uploaded files</h3>
          </div>
      <div>

      </div>
           <div>

      </div>
        <table style="width:100%">
            <tr>
                <th><h3 style="text-align:center">your big ass mutha fucking feet</h3></th>
            </tr>
          <tr>
            <td><img src="" style="width:100%"></td>
            <td> <img src="" style="width:100%"></td>
              <td><img src="" style="width:100%"></td>
            <td> <img src="" style="width:100%"></td>
          </tr>

          <tr>

          </tr>
        </table>

      <div>
        <h3>Images are correct click button bellow to receive size.</h3>
      </div>
        <form action="/measure" method="post">
            <button name="meausureBtn" type="submit">Get Size</button>
    </form>
    </div>
      </html>