<!doctype html>
     <html lang="en" dir="ltr">
<head>
    <title>Uploaded images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
      <div class="header">
        <h3 class="text-muted" style="text-align:center">Uploaded files</h3>
          </div>

        <div>
        <h3>If Boxes are from heal to toe and side to side click "get size" to continue to our suggestions</h3>
             <!-- <form action="/sizes" method="post">
            <button name="getsizeBtn" type="submit">Get Size</button> -->
    </form>
        </div>

        <table class="centertable">
          <tr>
            <td><img class="pic" src="static/outimages/{{measurements[0]}}"></td>
            <td><img class="pic" src="static/outimages/{{measurements[1]}}" ></td>
          </tr>
          <tr>
              <td><h2>Image 1</h2></td>
              <td><h2>Image 2</h2></td>
          </tr>
        </table>
        <h1 style="text-align:center">This is what we found</h1>
        <table style="margin-right: 40%;">
          <tr>
            <td>
                  <img class="pic" src="static/uploads/{{boot}}">
            </td>
            <td>
                <h1 >{{ bootName }}</h1>
              </td>
            <td  >
              <h1 >{{ bootSize }}</h1>
            </td>
           
          </tr>

        </table>
    </div>
    
  </body>
  </html>

